$colors: (
  neutral: (
    13:hsla(220, 5%, 64%, 0.378),
    12:hsl(216, 8%, 19%),
    11: hsl(0, 0%, 89%),
    10: hsl(225, 7%, 11%),
    9: hsl(180, 5%, 7%),
    8: #101113,
    7: hsl(216, 8%, 12%),
    6: hsl(216, 8%, 14%),
    5a: hsl(220, 9%, 21%),
    5: hsl(220, 11%, 16%),
    4: hsl(220, 11%, 20%),
    3c: hsla(220, 5%, 64%, 0.09),
    3b: hsla(0, 0%, 18%, 0.961),
    3a: hsla(0, 0%, 18%, 0.761),
    3: hsl(220, 5%, 64%),
    2: hsl(224, 7%, 70%),
    1: hsl(0, 0%, 90%),
    0: hsl(0, 0%, 100%),
  ),
  primary: (
    1: hsl(216, 89%, 85%),
    2: hsl(216, 89%, 89%),
    3: hsl(216, 80%, 12%),
    4: hsl(216, 67%, 19%),
    5: hsl(216, 10%, 99%),
    6: hsl(216, 90%, 42%),
    7: hsl(216, 89%, 69%),
    8: hsl(216, 89%, 60%),
    9: hsl(216, 89%, 92%),
    10: hsla(216, 40%, 70%, 0.168),
  ),
);
//hsl(222,58.1%,16.9%)
//hsl(217.5,21.6%,56.5%)
//hsl(231,41.7%,90.6%)