$darks: (
  primary: (
    font: hsl(224, 18%, 67%),
    font-ligher: hsla(224, 18%, 67%, 0.562),
    font-heavier: hsla(223, 35%, 82%, 0.893),
    1: hsl(222.9, 51.2%, 16.1%),
    2: hsl(223.6, 36.1%, 23.9%),
    3: hsl(231, 41.7%, 90.6%),
    4: hsla(223, 51%, 16%, 0.347),
    5: hsl(222, 61%, 14%),
    6: hsl(222, 25%, 38%),
    7: hsl(0, 0%, 100%),
    8: hsla(0, 0%, 100%, 0.705),
    nav: hsl(223, 51%, 16%),
    container-clicked: hsl(223, 38%, 25%),
  ),
  input: (
    1: hsl(223, 33%, 17%),
    1-hover: hsl(223, 27%, 31%),
    1-active: hsl(222, 16%, 24%),
  ),
  button: (
    font: hsl(240, 5%, 80%),
    font-active: hsl(216, 100%, 94%),
    font-hover: hsl(225, 23%, 90%),
    1-active: hsl(223, 27%, 51%),
    1-hover: hsl(223, 25%, 39%),
    1: hsl(223, 27%, 31%),
    2: hsl(216, 89%, 89%),
    2-hover: hsl(216, 100%, 84%),
    2-font: hsl(216, 64%, 19%),
    2-active: hsla(215, 100%, 95%, 0.886),
    2-font-hover: hsl(215, 64%, 19%),
    3: hsl(216, 32%, 75%),
    3-font: hsl(216, 68%, 11%),
    3-hover: hsl(216, 89%, 79%),
    1-lighter: hsla(223, 27%, 31%, 0.904),
    1-lightest: hsla(223, 27%, 31%, 0.397),
  ),
  sidebar: (
    font-title: hsl(228, 20%, 69%),
    font: hsla(226, 15%, 66%, 0.847),
    1: hsl(224.7, 33.3%, 25.3%),
    font-active: hsla(0, 6%, 93%, 0.928),
    font-hover: hsla(224, 22%, 90%, 0.918),
    element-hover: hsl(223, 27%, 31%),
    element-active: hsl(223, 23%, 43%),
    element-active-hover: hsl(223, 23%, 43%, 0.6),
    element-active-active: hsl(223, 23%, 43%, 0.8),
    bottom: hsl(224, 21%, 35%),
  ),
  container: (
    header: hsl(222.9, 51.2%, 16.1%),
    container: hsl(225, 36%, 22%),
    container-subheader: hsla(225, 16%, 43%, 0.338),
    container-subheader-active: hsla(226, 17%, 26%, 0.338),
    container-subheader-color: hsla(240, 12%, 95%, 0.703),
    container-subheader-hover-color: hsla(0, 0%, 80%, 0.253),
    container-subheader-active-color: hsla(0, 10%, 90%, 0.253),
    container-selection-color: #989898,
    container-checkbox-active: hsla(215, 100%, 94%, 0.864),
    container-checkbox: hsl(226.2, 14.9%, 65.9%),
    container-checkbox-hover: hsla(224, 22%, 90%, 0.816),
    container-checkbox-check: hsl(223, 61%, 26%),
    container-input-background: hsl(224, 33%, 34%),
    container-subheader-nontrans: rgb(85, 92, 114),
    container-outsider: hsl(224, 19%, 46%),
    container-trans: hsla(224, 19%, 46%, 0.5),
    container-transest: hsla(224, 19%, 46%, 0.336),
  ),
  auth: (
    font: hsl(225, 14%, 83%),
    focus-font: hsl(216, 100%, 94%),
    font-placeholder: #c0bebea9,
    input: hsl(225, 29%, 32%),
    dropdownMenu: hsl(223, 27%, 31%),
    dropdown-active: hsl(223, 27%, 51%),
    dropdown-hover: hsla(223, 27%, 41%, 0.631),
    login-input: hsl(223.6, 36.1%, 23.9%),
    dropdown-highlight: hsl(222, 29%, 59%),
  ),
  tab: (
    button-hover: hsl(223, 27%, 31%),
    button-selected: hsl(223, 22%, 50%),
    button-active: hsl(223, 27%, 51%),
    button: hsl(223, 17%, 25%),
    font-hover: hsl(60, 8%, 87%),
  ),
  footer: (
    footer-font: hsl(240, 5%, 80%),
    footer-background: hsl(223, 28%, 30%),
    backtop-bg: hsl(221, 19%, 42%),
    backtop-hover: hsl(221, 19%, 52%),
    splitter: hsla(224, 12%, 55%, 0.5),
    titleFont: hsl(240, 5%, 90%),
    itemFont: hsl(240, 13%, 85%),
    itemFont-Hover: hsl(240, 5%, 90%),
    itemPlaceholder: hsla(240, 6%, 80%, 0.76),
  ),
  assistant: (
    container: hsl(224.7, 33.3%, 25.3%),
    userContainer: #667eab,
    assistantContainer: hsl(215, 12%, 41%),
    confirmContainer: hsl(41, 36%, 75%),
    confirmButton: hsl(206, 51%, 92%),
    confirmButton-hover: hsl(206, 51%, 82%),
    sendButton: hsl(206, 51%, 82%),
    sendButtonIcon: hsl(206, 41%, 23%),
  ),
);
