$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  9: 5rem,
  8: 3.75rem,
  6: 1.6875rem,
  5: 1.3125rem,
  4: 1.125rem,
  3: 1rem,
);

$fw-400: 400;
$fw-700: 700;
